@font-face {
    font-family: font1;
    src: url(./fonts/QualcommNext-Medium.bdd46f62c261a18db455.ttf);
}
@font-face {
    font-family: font2;
    src: url(./fonts/QualcommNext-Regular.50b3665576a273bd5a45.ttf);
}
@font-face {
    font-family: font3;
    src: url(./fonts/RobotoFlex-VariableFont.a0b7e10dce05a30f5799.otf);
}
@font-face {
    font-family: font4;
    src: url(./fonts/RobotoMono-Regular.28198c367ffb8695d481.otf);
}
@font-face {
    font-family: Founder;
    src: url(./fonts/FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
    font-family: CardinalR;
    src: url(./fonts/cardinalfruitweb-regular.ttf);
}

@font-face {
    font-family: Cardinali;
    src: url(./fonts/cardinalfruitweb-italic.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background-color: #343333;
    color: #eee;
    font-family: font3;
    font-size: 12px;
    -webkit-user-select: none;
}

.Loader{
    mix-blend-mode: plus-light;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
/* page2 */
.visual-p{
    width: 100%;
    height: 100vh;
}

#visual{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 46vh;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    overflow: hidden;
}

#center{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    background-color: rgb(58, 57, 57);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    overflow: hidden;
}

#bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#visual h1{
    font-family: Founder;
    font-size: 16vw;
    position: absolute;
    color:rgb(57, 57, 57);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-h1{
    bottom: 34%;
}

#bottom-h1{
    top: -3.5% !important;
}

.content{
    margin-top: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    gap: 4vh;
}

.content h4{
    font-size: 1vw;
    font-family: Founder;
}

.content h3{
    width: 22%;
    font-size: 3vw;
    font-family: CardinalR;
    text-align: center;
    font-weight: 400;
}

.content h2{
    font-size: 20vw;
    font-family: Founder;
}
.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-container {
    background-color: black;
    position: relative;
    height: 55vh;
    width: 22vw;
    border-radius: 1vh;
    overflow: hidden;
}

.image-container img, .image-container video {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-top: 40%;
}
.image-container video {
    display: none;
}

/* page3 */
.page3{
    height: 99vh;
    margin-top: -50px;
    width: screen;
    overflow: hidden;
    position: relative;
}
.page3 .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.page3 .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page3 .list .item .content{
    position: absolute;
    top: 60%;
    width: 1140px;
    width: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    font-size: 0.6vw;
    text-shadow: 0 5px 10px #0004;
}
.page3 .list .item .title,
.page3 .list .item .topic{
    font-size: 3vw;
    letter-spacing: 0vw;
    font-weight: bold;
}
.page3 .list .item .content .des{
    font-size: 1vw;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 8%;
    left: 70%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 170px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    /* position: absolute; */
    bottom: -50px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 84%;
    right: 25%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 18px;
    align-items: center;
}
.arrows #prev{
    font-size: 1.8vw;
    padding: 0.4vw 0.9vw;
    border-radius: 50%;
    background-color: white;
    color: black;
    cursor: pointer;
}

.arrows #next{
    font-size: 1.8vw;
    padding: 0.4vw 0.9vw;
    border-radius: 50%;
    background-color: white;
    color: black;
    cursor: pointer;
}

/* animation */
.page3 .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.page3 .list .item:nth-child(1) .content .author,
.page3 .list .item:nth-child(1) .content .title,
.page3 .list .item:nth-child(1) .content .topic,
.page3 .list .item:nth-child(1) .content .des
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .3s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.page3 .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.page3 .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.page3 .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
/* create animation when next click */
.page3.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .4s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.page3.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .4s linear 1 forwards;
}
.page3.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.page3.next .thumbnail{
    animation: effectNext .4s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.page3 .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #c6bfbd;
    left: 0;
    top: 0;
}

.page3.next .time,
.page3.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.page3.prev .list .item:nth-child(2){
    z-index: 2;
}

.page3.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.page3.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.page3.next .arrows button,
.page3.prev .arrows button{
    pointer-events: none;
}
.page3.prev .list .item:nth-child(2) .content .author,
.page3.prev .list .item:nth-child(2) .content .title,
.page3.prev .list .item:nth-child(2) .content .topic,
.page3.prev .list .item:nth-child(2) .content .des,
.page3.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .page3 .list .item .content{
        padding-right: 0;
    }
    .page3 .list .item .content .title{
        font-size: 30px;
    }
}