@font-face {
  font-family: font1;
  src: url(./fonts/QualcommNext-Medium.bdd46f62c261a18db455.ttf);
}
@font-face {
  font-family: font2;
  src: url(./fonts/QualcommNext-Regular.50b3665576a273bd5a45.ttf);
}
@font-face {
  font-family: font3;
  src: url(./fonts/RobotoFlex-VariableFont.a0b7e10dce05a30f5799.otf);
}
@font-face {
  font-family: font4;
  src: url(./fonts/RobotoMono-Regular.28198c367ffb8695d481.otf);
}
@font-face {
  font-family: Founder;
  src: url(./fonts/FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
  font-family: CardinalR;
  src: url(./fonts/cardinalfruitweb-regular.ttf);
}

@font-face {
  font-family: Cardinali;
  src: url(./fonts/cardinalfruitweb-italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background-color: rgb(250, 245, 245);
  color: #010101;
  font-family: font3;
  font-size: 12px;
  -webkit-user-select: none;
}

.Loader {
  mix-blend-mode: plus-light;
  position: relative;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3vw;
}
.line h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  font-size: 3.5vw;
  position: absolute;
  top: 60%;
  color: white;
  right: 7%;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  color: white;
  position: absolute;
  top: 71%;
  right: 10%;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-family: font4;
  font-weight: 100;
  color: white;
}
#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

/* menubar */
.navbar {
  background: linear-gradient(to right,  #a6d5f192,#ffffffae);

}
.navbar i {
  font-size: 2vw;
  margin-right: 3vw;
  cursor: pointer;
}
#slide {
  height: 100vh;
  width: 40vw;
  position: absolute;
  background:linear-gradient(to right,  #ffffff38, #eea0a093);
  z-index: 10;
  top: 0;
  right: -40%;
  text-align: right;
  backdrop-filter: blur(px);
  padding: 150px 40px;
}
#slide h4 {
  font-size: 2.6vw;
  color: rgba(0, 0, 0, 0.881);
  font-weight: 500;
  margin-bottom: 3px;
  padding-right: 5vh;
}
#slide i {
  position: absolute;
  top: 2.9vh;
  right: 2.6vw;
  font-size: 2vw;
  border: 2px solid white;
  background-color: rgb(255, 255, 255);
  font-weight: 300;
  border-radius: 50%;
  padding: 0px 6px;
  cursor: pointer;
}

/* page2 */
:root {
  --color-primary: #fff;
  --color-slide1top: #033067;
  --color-slide1btm: #009fbd;
  --color-slide2top: #b00c00;
  --color-slide2btm: #e72929;
  --color-slide3top: #8ec2dc;
  --color-slide3btm: #b137a9;
  --color-slide4top: #f5cca0;
  --color-slide4btm: #c08b5c;
}
.slider {
  height: 100vh;
  padding: 0 10%;
  overflow: hidden;
  position: relative;
}
.page2 {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 700px;
  height: 250px;
  overflow: hidden;
}
.content-info {
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.info {
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 240px;
  overflow: hidden;
}
.info h2 {
  font-size: 5.5em;
  line-height: 1;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0px #999, 3px 3px 0px #999, 6px 6px 0px #00000055;
  font-family: "Permanent Marker", cursive;
}
.info p {
  font-size: 16px;
  line-height: 1.3;
  margin: 20px 0;
}
.arrows {
  position: absolute;
  left: 40%;
  bottom: 30%;
  transform: translateX(-50%);
}
.arrows .prev-btn {
  border-radius: 50%;
}
.arrows .prev-btn:hover {
  background-color: #40534c;
  border: 2px solid #40534c;
}
.arrows .next-btn {
  border-radius: 50%;
}
.arrows .next-btn:hover {
  background-color: #40534c;
  border: 2px solid #40534c;
}
.arrows span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
}
.slider-img {
  height: 100%;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
  mix-blend-mode: color-burn;
}
.slider .item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  mix-blend-mode: color-burn;
}
.item img {
  position: absolute;
  left: 40vw;
  height: 100vh;
  pointer-events: none;
  mix-blend-mode: color-burn;
}
.slider-img .item img:nth-child(3) {
  left: 100vw;
}
.slide-bg .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.slide-bg .bg:nth-child(1) {
  background: linear-gradient(
    360deg,
    var(--color-slide1top),
    var(--color-slide1btm)
  );
}
.slide-bg .bg:nth-child(2) {
  background: linear-gradient(
    360deg,
    var(--color-slide2top),
    var(--color-slide2btm)
  );
}
.slide-bg .bg:nth-child(3) {
  background: linear-gradient(
    360deg,
    var(--color-slide3top),
    var(--color-slide3btm)
  );
}
.slide-bg .bg:nth-child(4) {
  background: linear-gradient(
    360deg,
    var(--color-slide4top),
    var(--color-slide4btm)
  );
}
.slide-bg .bg:nth-child(2),
.slide-bg .bg:nth-child(3),
.slide-bg .bg:nth-child(4) {
  clip-path: circle(0px at center);
}
.slide-bg .bg:nth-child(2).active,
.slide-bg .bg:nth-child(3).active,
.slide-bg .bg:nth-child(4).active {
  clip-path: circle(75% at center);
}

/* page3 */
.page3-p {
  width: 100%;
  height: 100vh;
}

#page3 {
  position: relative;
  width: 100%;
  height: 101vh;
}

#top {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 50vh;
  background-color: rgb(255, 254, 254);
  z-index: 9;
  overflow: hidden;
}
#bottom h1 {
  font-size: 1000px;
  font-weight: bold;
  background: url("./images/cpu.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#center {
  position: relative;
  width: 100%;
  height: 100vh;
  transform-origin: center;
  background-color: rgb(18, 16, 16);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  overflow: hidden;
}

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 51.9vh;
  padding-left: 5vw;
  background-color: rgb(39, 38, 38);
  overflow: hidden;
  overflow-x: hidden;
}

#page3 h1 {
  font-family: Founder;
  font-size: 18vw;
  color: rgb(71, 71, 71);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top-h1 {
  bottom: 30.5%;
}

#bottom-h1 {
  top: -4% !important;
}

.content {
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 4vh;
}

.content h4 {
  font-size: 1vw;
  font-family: Founder;
}

.content h3 {
  width: 22%;
  font-size: 3vw;
  font-family: CardinalR;
  text-align: center;
  font-weight: 400;
}

.content h2 {
  font-size: 20vw;
  font-family: Founder;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image-container {
  background-color: rgb(230, 230, 230);
  position: relative;
  height: 55vh;
  width: 22vw;
  border-radius: 1vh;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin-top: 40%;
}
/* page4*/
.page4 {
  display: flex;
  width: 100%;
  height: 110vh;
  padding-bottom: 5vw;
  background-color: rgb(18, 16, 16);
}

.left {
  width: 50%;
  height: 100%;
  color: white;
  font-family: "QualcommNext-Regular", sans-serif;
  line-height: 0.4;
}

#wrapper {
  height: 30%;
  width: 100%;
  padding: 160px;
  padding-bottom: 10bh;
}
#wrapper h1 {
  padding: 1vw 0vw;
}
.text-blue h1 {
  color: #3b82f6;
}

.left h1 {
  font-size: 2.7rem;
  font-weight: 500;
}

.get-started {
  margin-top: 76px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "RobotoFlex-VariableFont", sans-serif;
}

.right {
  width: 50%;
  height: 100%;
}

.right-top {
  display: flex;
  gap: 8px;
  width: 83.33%;
  height: 40%;
  margin: 0 auto;
  margin-top: 90px;
  margin-right: 100px;
}

.right-bottom {
  display: flex;
  gap: 8px;
  width: 83.33%;
  height: 40%;
  margin: 0 auto;
  margin-right: 100px;
}

.right-top-left,
.right-top-right,
.right-bottom-left,
.right-bottom-right {
  width: 50%;
  height: 100%;
}

.image {
  padding-top: 20px;
}

.title {
  margin-top: 25px;
  color: white;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  font-family: "RobotoFlex-VariableFont", sans-serif;
}

.title i {
  margin-left: 4px;
  font-size: 1.5rem;
}

.description {
  color: #7b7b7b;
  margin-top: 4px;
  font-size: 0.875rem;
  font-family: "RobotoFlex-VariableFont", sans-serif;
}
/* page5 */

#page5 {
  position: relative;
  height: 130vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
#page5 h1 {
  color: #103289;
  font-size: 3.8vw;
  letter-spacing: 0.1vh;
  text-align: left;
  font-weight: 500;
  line-height: 4vw;
  padding-top: 8vh;
  padding-left: 5vw;
}

#page5 h2 {
  font-size: 3.2vw;
  text-align: right;
  font-weight: 500;
  line-height: 3.2vw;
  padding-right: 5vw;
  letter-spacing: -1px;
  color: #d9d9d98b;
}
#Contain {
  margin-top: 5%;
  width: 230%;
  height: 60%;
  margin-top: -1.5vw;
  gap: 10vw;
  padding-left: 15vw;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-bottom: 5vw; */
}
.elem {
  width: 11.2%;
  height: 70%;
  position: relative;
  border-radius: 3vh;
  overflow: hidden;
}
.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* footer */
#footer {
  height: 60vh;
  width: 100%;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 3vw;
  background-color: black;
}
#heading {
  height: 10%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#foot {
  height: 90%;
  width: 100%;
  display: flex;
}
#heading img {
  width: 10%;
  height: 80%;
  object-fit: cover;
}
#left {
  width: 40%;
  height: 100%;
  align-items: start;
}
#left p {
  margin-top: 2.5vw;
  margin-bottom: 2vw;
  padding-left: 1vh;
  color: rgba(129, 129, 129, 0.543);
}
#icons {
  width: 55%;
  height: 14%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ic {
  width: 21%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 1vh;
}

.ic:hover {
  background-color: rgb(207, 200, 200);
  width: 25%;
  height: 100%;
}
#icons .ic i {
  font-size: 1.5em;
  color: blue;
}
#left-bottom {
  width: 14%;
  height: 100%;
  margin-left: 17%;
}
#left-bottom h1 {
  color: grey;
  font-size: 1.8vw;
  margin-top: 0vw;
  margin-bottom: 3vw;
  font-weight: 600;
}
#left-bottom a {
  color: grey;
  text-decoration: none;
  font-size: 2vh;
}

#right {
  width: 14%;
  height: 100%;
  margin-left: 2%;
}
#right h1 {
  color: grey;
  font-size: 1.8vw;
  margin-top: 0vw;
  margin-bottom: 3vw;
  font-weight: 600;
}
#right a {
  color: grey;
  text-decoration: none;
  font-size: 2vh;
  font-weight: 100;
}
